th[b-2eokvx7o1p] {
    font-size: 20px;
    text-align: center;
}

td[b-2eokvx7o1p] {
    padding: 10px;
    font-size: 20px;
}

table[b-2eokvx7o1p], th[b-2eokvx7o1p], td[b-2eokvx7o1p] {
    border: 1px solid;
}

table[b-2eokvx7o1p] {
    margin-bottom: 30px;
    width: 100%;
    text-align: right;
}

.refresh-table[b-2eokvx7o1p] {
    margin-top: 50px;
}

.selected[b-2eokvx7o1p] {
    background-color: lightblue;
    font-weight: bold;
}

.ticket-type-row[b-2eokvx7o1p] {
    cursor: pointer;
}

.submit[b-2eokvx7o1p] {
    margin-top: 15px;
    margin-right: 10px;
}

h1[b-2eokvx7o1p] {
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium';
}

.export[b-2eokvx7o1p] {
    float: right;
    margin-top: 40px;
}

.fade-in[b-2eokvx7o1p] {
    animation: fadeIn-b-2eokvx7o1p 1s;
}

@keyframes fadeIn-b-2eokvx7o1p {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.alert[b-2eokvx7o1p] {
    border-radius: 10px;
    width: max-content;
    position: fixed;
    top: 10px;
}

.dropdown-toggle[b-2eokvx7o1p] {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown-menu[b-2eokvx7o1p] {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    min-width: 200px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: none;
}

.dropdown-menu a[b-2eokvx7o1p] {
    display: block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
}

.dropdown-menu a:hover[b-2eokvx7o1p] {
    background-color: #f0f0f0;
}

.dropdown.show .dropdown-menu[b-2eokvx7o1p] {
    display: block;
}

.search-input[b-2eokvx7o1p] {
   margin-top: 50px;
}

.search-button[b-2eokvx7o1p] {
    margin-top: 5px;
}

.icon[b-2eokvx7o1p] {
    width: 40px; /* Adjust the size as needed */
    height: 40px;
    vertical-align: middle; /* Align the icon vertically with the text */
    margin-right: 5px; /* Add some spacing between the icon and the text */
}

.clients-table[b-2eokvx7o1p] {
    border-collapse: collapse; /* Remove extra space between borders */
    width: 100%;
}

    .clients-table th[b-2eokvx7o1p], .clients-table td[b-2eokvx7o1p] {
        border: 1px solid #ddd; /* Light border for better readability */
        padding: 10px;
        text-align: left;
    }

    .clients-table th[b-2eokvx7o1p] {
        background-color: #f2f2f2; /* Light gray header background */
        font-weight: bold;
    }

.clickable-row:hover[b-2eokvx7o1p] {
    background-color: #f5f5f5; /* Hover effect */
    cursor: pointer; /* Indicate that it's clickable */
}

.selected-row[b-2eokvx7o1p] {
    background-color: #e0f7fa; /* Selected row highlight */
}

.filtered-name[b-2eokvx7o1p] {
    margin-bottom: 15px;
    display: block;
    font-weight: bold;
}

.text-center[b-2eokvx7o1p] {
    text-align: center;
}